@tailwind base;
@tailwind components;
@tailwind utilities;

.layout-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.content-container {
  grid-area: 2 / 2 / 11 / 11;
}

.sidebar {
  grid-area: 1 / 1 / 11 / 2;
}
.navbar {
  grid-area: 1 / 2 / 2 / 11;
}

main {
  flex: 1;
  overflow-y: auto;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("./assets/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("./assets/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
}

h1 {
  font-family: "Poppins-Bold";
}

h2,
h6 {
  font-family: "Poppins-SemiBold";
}

a,
button,
option,
select,
input,
p,
span {
  font-family: "Poppins-Regular";
}
.card.image-full:before {
  opacity: 0.25;
}
.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  height: 90vh;
}
.focus-timer-box {
  grid-area: 4 / 8 / 7 / 14;
}
.calender-box {
  grid-area: 1 / 8 / 4 / 14;
}
.greetings-box {
  grid-area: 1 / 1 / 4 / 8;
}
.task-box {
  grid-area: 4 / 1 / 5 / 8;
}

.todays-tasks-box {
  grid-area: 5 / 1 / 7 / 8;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: theme("colors.base-200");
}

::-webkit-scrollbar-thumb {
  background-color: theme("colors.accent");
}

::-webkit-scrollbar-thumb:hover {
  background: theme("colors.accent");
}
@media screen and (max-width: 1400px) {
  .dashboard-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    height: auto;
  }

  .focus-timer-box,
  .calender-box,
  .greetings-box,
  .task-box,
  .todays-tasks-box {
    grid-area: auto;
  }
}
.card.image-full:before {
  border-radius: 1rem;
}
.icon-placeholder {
  position: absolute;
  top: 50%;
  left: 30px; /* Adjust the left positioning as needed */
  transform: translateY(-140%);
}
.react-calendar abbr {
  font-size: 1.2rem;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus,
.react-calendar__navigation button:enabled:hover {
  background-color: blue;
}
.react-calendar__month-view__weekdays {
  text-transform: unset;
  text-decoration: none;
}
.react-calendar__month-view__weekdays abbr {
  text-decoration: none;
}
.rbc-btn-group button {
  color: theme("colors.neutral");
  border: 1px solid theme("colors.base-100");
}
.rbc-toolbar button.rbc-active {
  background-color: theme("colors.secondary");
  border: 1px solid theme("colors.base-100");
}
.rbc-toolbar button.rbc-active:hover,
.rbc-btn-group button:hover {
  background-color: theme("colors.accent");
  border: 1px solid theme("colors.base-100");
}
.rbc-off-range-bg {
  background-color: theme("colors.base-100");
}
.rbc-month-view {
  border: theme("colors.base-300") 2px solid;
}
.rbc-day-bg + .rbc-day-bg,
.rbc-header {
  border-left: 1px solid theme("colors.base-100") !important;
}
.rbc-month-row {
  border-top: 1px solid theme("colors.base-100") !important;
}
.rbc-header {
  border-bottom: 2px solid theme("colors.base-100") !important;
}
.rbc-toolbar button.rbc-active:focus {
  border: 1px solid theme("colors.base-100");
}
.rbc-today {
  background-color: theme("colors.base-200");
}
.rbc-time-content {
  border-top: 2px solid theme("colors.base-100") !important;
}
.rbc-time-content > * + * > * {
  border-left: 1px solid theme("colors.base-100");
}
.rbc-timeslot-group {
  border-bottom: 1px solid theme("colors.base-100");
}
.rbc-day-slot .rbc-time-slot {
  border-top: 1px solid theme("colors.base-100");
}
.rbc-time-header-content {
  border-left: 1px solid theme("colors.base-100");
}
.rbc-time-view {
  border: 1px solid theme("colors.base-100");
}
.rbc-agenda-table {
  border: 1px solid theme("colors.base-100") !important;
}
.rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
  border-left: 1px solid theme("colors.base-100");
}
.gradient-background {
  background: linear-gradient(
    180deg,
    theme("colors.base-100"),
    theme("colors.base-300")
  );
}
.icon-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 5 Spalten mit gleicher Breite */
  grid-gap: 10px; /* Abstand zwischen den Icons */
}

.icon-grid > * {
  font-size: 2rem;
}
@media (min-width: 640px) {
  .sm\:modal-middle :where(.modal-box) {
    max-width: 69rem !important;
  }
}

.react-datepicker,
.react-datepicker__header,
.react-datepicker__time-container .react-datepicker__time,
.react-datepicker__time-container,
.react-datepicker-time__header,
.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day {
  background-color: theme("colors.base-300") !important;
  color: theme("colors.base-content") !important;
  font-family: "Poppins-Regular" !important;
  border: theme("colors.white") !important;
}
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  border-color: theme("colors.accent") !important;
}
.react-datepicker__day:hover,
.react-datepicker__day--selected {
  background-color: theme("colors.secondary") !important;
}
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--selected {
  background-color: theme("colors.secondary") !important;
}
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item:hover {
  background-color: theme("colors.secondary") !important;
}
.react-datepicker__day--outside-month {
  color: theme("colors.neutral") !important;
}
.react-datepicker {
  padding: 1rem;
}
.react-datepicker__navigation,
.react-datepicker__navigation--previous {
  padding-top: 2.5rem;
}
textarea {
  resize: none;
}
.react-colorful {
  height: 120px !important;
}
.picker {
  position: relative;
}

.swatch {
  width: 28px;
  height: 28px;
  border-radius: 8px;
  border: 3px solid #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.popover {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  border-radius: 9px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.animated-input {
  opacity: 0;
  transform: translateY(-20px); /* Startposition der Animation */
  height: 0;
}

.animated-input.show {
  opacity: 1;
  height: auto;
}
.image-item {
  display: flex;
  margin: 10px 0;
}
.image-item__btn-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
button {
  height: 40px;
}
