@tailwind base;
@tailwind components;
@tailwind utilities;
.layout-container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.content-container {
  grid-area: 2 / 2 / 11 / 11;
}

.sidebar {
  grid-area: 1 / 1 / 11 / 2;
}
.navbar {
  grid-area: 1 / 2 / 2 / 11;
}

main {
  flex: 1;
  overflow-y: auto;
}
