@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  flex: 1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  font-size: 2rem;
}

/* GENERAL FONT STYLES */
h1 {
  font-size: 3.6rem;
  line-height: 120%;
}
h2 {
  font-size: 2.4rem;
  line-height: 120%;
}
h3 {
  font-size: 1.8rem;
  line-height: 120%;
}
p {
  font-size: 1.6rem;
  line-height: 120%;
}
button {
  font-size: 2rem;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
abbr,
input {
  font-size: 1.6rem;
}

input {
  border: 1px solid black;
  padding: 1rem 2rem 1rem;
  border-radius: 2rem;
}
button {
  padding: 1rem 2rem 1rem;
  color: white;
  background-color: red;
  border-radius: 2rem;
}
button[type="button"] {
  background-color: black;
}
small {
  font-size: 1.6rem;
}
span {
  font-size: 1.6rem;
}
